#settingsModal__modal {
	position: absolute;
	width: 15vw;
	background-color: rgba(0, 0, 0, 0.7);
	left: calc(-15vw - 2rem);
	bottom: 4rem;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	margin-left: 0 !important;
	transition: left 0.3s ease-in-out;
}

#settingsModal__modal.visible {
	left: 0;
}

/* #settingsModal__modal * {
	margin: 1rem 0 !important;
} */

#settingsModal__title {
	padding: 0 !important;
	/* margin: 0 !important; */
	text-align: center;
}
