<div id="appbar">
	<div>
		<div id="dragzone"></div>
		<i class="fas fa-times white" style="font-size: 2rem; cursor: pointer; margin: 0 1rem" id="appbar__close"></i>
		<i class="fas fa-minus white" style="font-size: 2rem; cursor: pointer; margin: 0 1rem" id="appbar__minimize"></i>
	</div>
</div>
