<div id="root__characterSheet" class="characterSheet__hidden">
	<h1 id="characterSheet__title" class="i18n" data-i18n="innerText">Character sheet</h1>
	<h2 id="characterSheet__player">test</h2>
	<div id="characterSheet__details">
		<div>
			<h3 class="i18n" data-i18n="innerText">Virtues</h3>
			<textarea name="characterSheet__vertue" id="characterSheet__vertue"></textarea>
			<h3 class="i18n" data-i18n="innerText">Hubris</h3>
			<textarea name="characterSheet__travers" id="characterSheet__travers"></textarea>
			<h3 class="i18n" data-i18n="innerText">Backgrounds</h3>
			<textarea name="characterSheet__historiques" id="characterSheet__historiques"></textarea>
			<h3 class="i18n" data-i18n="innerText">Inventory</h3>
			<textarea name="characterSheet__inventaire" id="characterSheet__inventaire"></textarea>
		</div>
		<div>
			<h3 class="i18n" data-i18n="innerText">Traits</h3>
			<div id="characterSheet__characteristics">
				<div class="characterSheet__characteristic"><input name="characterSheet__force" placeholder="2" type="number" value="2" min="2" max="5" /><label for="characterSheet__force" class="i18n" data-i18n="innerText">Brawn</label></div>
				<div class="characterSheet__characteristic"><input name="characterSheet__finesse" placeholder="2" type="number" value="2" min="2" max="5" /><label for="characterSheet__finesse" class="i18n" data-i18n="innerText">Finesse</label></div>
				<div class="characterSheet__characteristic"><input name="characterSheet__resolution" placeholder="2" type="number" value="2" min="2" max="5" /><label for="characterSheet__resolution" class="i18n" data-i18n="innerText">Resolve</label></div>
				<div class="characterSheet__characteristic"><input name="characterSheet__astuce" placeholder="2" type="number" value="2" min="2" max="5" /><label for="characterSheet__astuce" class="i18n" data-i18n="innerText">Wits</label></div>
				<div class="characterSheet__characteristic"><input name="characterSheet__panache" placeholder="2" type="number" value="2" min="2" max="5" /><label for="characterSheet__panache" class="i18n" data-i18n="innerText">Panache</label></div>
			</div>
			<h3 class="i18n" data-i18n="innerText">Skills</h3>
			<div id="characterSheet__competences">
				<div class="characterSheet__competence"><input name="characterSheet__blanches" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__blanches" class="i18n" data-i18n="innerText">Weaponery</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__intimidation" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__intimidation" class="i18n" data-i18n="innerText">Intimidate</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__militaire" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__militaire" class="i18n" data-i18n="innerText">Warfare</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__navigation" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__navigation" class="i18n" data-i18n="innerText">Sailing</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__athletisme" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__athletisme" class="i18n" data-i18n="innerText">Athletics</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__persuasion" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__persuasion" class="i18n" data-i18n="innerText">Convince</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__bagarre" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__bagarre" class="i18n" data-i18n="innerText">Brawl</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__representation" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__representation" class="i18n" data-i18n="innerText">Perform</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__dissimulation" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__dissimulation" class="i18n" data-i18n="innerText">Hide</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__subornation" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__subornation" class="i18n" data-i18n="innerText">Tempt</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__empathie" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__empathie" class="i18n" data-i18n="innerText">Empathy</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__tir" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__tir" class="i18n" data-i18n="innerText">Aim</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__equitation" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__equitation" class="i18n" data-i18n="innerText">Ride</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__vigilance" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__vigilance" class="i18n" data-i18n="innerText">Notice</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__erudition" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__erudition" class="i18n" data-i18n="innerText">Scholarship</label></div>
				<div class="characterSheet__competence"><input name="characterSheet__vol" placeholder="0" type="number" value="0" min="0" max="5" /><label for="characterSheet__vol" class="i18n" data-i18n="innerText">Theft</label></div>
			</div>
		</div>
		<div>
			<h3 class="i18n" data-i18n="innerText">Advantages</h3>
			<textarea name="characterSheet__avantages" id="characterSheet__avantages"></textarea>
			<h3 class="i18n" data-i18n="innerText">Death spiral</h3>
			<div class="characterSheet__spirale"><input name="characterSheet__spirale" placeholder="2" type="number" value="0" min="0" max="20" /><label for="characterSheet__spirale" class="i18n" data-i18n="innerText">Wounds</label></div>
			<h3 class="i18n" data-i18n="innerText">Corruption</h3>
			<div class="characterSheet__corruption"><input name="characterSheet__corruption" placeholder="0" type="number" value="0" min="0" max="10" /><label for="characterSheet__corruption" class="i18n" data-i18n="innerText">Corruption points</label></div>
		</div>
	</div>
	<div id="characterSheet__toolbar">
		<button id="characterSheet__close" onclick="saveCharacterSheet()" class="i18n" data-i18n="innerText">Close</button>
		<span id="characterSheet__readOnly" class="characterSheet__readonly_hidden i18n" data-i18n="innerText">(read only)</span>
	</div>
</div>
