<div id="login">
	<input type="text" id="login__pseudo" class="actionElement i18n" data-i18n="placeholder" placeholder="Enter your character name (case sensitive)" />
	<button id="login__submit" onclick="actionElement" class="actionElement i18n" data-i18n="innerText" data-action="login" data-action_parameters="#login__pseudo/pseudo=value">Log in</button>
</div>
