<div id="login">
	<input type="text" id="login__pseudo" placeholder="Enter your character name (case sensitive)" />
	<button id="login__submit" onclick="actionElement" class="actionElement" data-action="login" data-action_parameters="#login__pseudo/pseudo=value">Log in</button>
</div>
