<div id="root__notes" class="notes__hidden">
	<h1 id="notes__title">Bloc notes</h1>
	<div id="notes__details">
		<textarea id="notes__content"></textarea>
	</div>
	<div id="notes__toolbar">
		<button id="notes__close" onclick="saveNotes()">Fermer</button>
	</div>
</div>
