<div id="playerPanel">
	<h1 id="playerPanel__title"><span class="i18n" data-i18n="innerText">Players</span><span class="i18n" data-i18n="innerText">Heroic points</span></h1>
	<div id="playerPanel__players"></div>
</div>
