<div id="settingsModal__modal">
	<h2 id="settingsModal__title">Settings</h2>
	<input type="text" name="serverAddress" id="settingsModal__serverAddress" placeholder="Server address" />
	<input type="text" name="serverPort" id="settingsModal__serverPort" placeholder="Server port" />
	<button id="settingsModal__setSettings">Save</button>
</div>
