<div id="splash" class="transition-opacity_1s_linear">
	<div id="splash__content" class="opacity_hidden transition-opacity_1s_linear">
		<img src="../img/event_horizon.png" />
		<h1>Event Horizon</h1>
	</div>
</div>
