<div id="root__toolBar">
	<i id="toolBar__settings" class="fas fa-cog white bottomIcon" style="left: 1rem"></i>
	<i id="toolBar__soundEffect" class="fas fa-volume-up white bottomIcon" style="left: 5rem"></i>
	<div id="toolBar__rollType" class="bottomSlideHidden toolBar__element">
		<select id="roll__rollType">
			<option id="rollType__publicRoll" value="0" selected class="i18n" data-i18n="innerText">Public</option>
			<option id="rollType__privateRoll" value="1" class="i18n" data-i18n="innerText">Private</option>
			<option id="rollType__privateMJRoll" value="2" class="i18n" data-i18n="innerText">Private with GM</option>
		</select>
	</div>
	<div id="toolBar__roll" class="bottomSlideHidden toolBar__element">
		<input id="roll__nbOfDice" class="i18n" data-i18n="placeholder" placeholder="Number of dices" spellcheck="false" />
		<button style="margin: 0" id="roll__submitRoll" class="actionElement" data-action="roll" data-action_validation="diceRollValidation" data-action_parameters="#roll__nbOfDice/nbOfDice=value;#roll__nbOfFaces/nbOfFaces=value;#roll__rollType/rollType=value">D</button>
		<input id="roll__nbOfFaces" class="i18n" data-i18n="placeholder" placeholder="Number of faces" spellcheck="false" />
	</div>
	<div id="toolBar__characterSheet" class="bottomSlideHidden toolBar__element">
		<button style="margin: 0" id="characterSheet_displayOwn" class="actionElement i18n" value="0" data-action="loadCharacterSheet" data-action_parameters="#characterSheet_displayOwn/readOnly=value" data-i18n="innerText">Character sheet</button>
	</div>
	<div id="toolBar__notes" class="bottomSlideHidden toolBar__element">
		<button style="margin: 0" id="characterSheet_displayNotes" class="actionElement i18n" value="0" data-action="loadNotes" data-action_parameters="" data-i18n="innerText">Notes</button>
	</div>
</div>
